@charset "UTF-8";
* {
  margin: 0;
  padding: 0.3px;
}

.header {
  background: url(/Rectangle\ 34.png) no-repeat center/cover;
  width: 2110px;
  height: 1100px;
  z-index: -1;
}
.header__b1, .header__b2 {
  border-radius: 27px;
  width: 160px;
  height: 56px;
  background-color: #d80808;
  margin-left: 160px;
  margin-top: 56px;
  position: absolute;
  top: 13px;
}
.header__b1.header__b2, .header__b2.header__b2 {
  left: 1700px;
  top: 43px;
}
.header-ul {
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: 500px;
  left: 900px;
  top: 96px;
}
.header-ul__li {
  list-style: none;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}
.header-img__graphics {
  position: absolute;
  top: 360px;
  left: 440px;
  z-index: 1;
}
.header-img__shadow {
  position: absolute;
  top: 200px;
  left: 660px;
  z-index: 0;
}
.header-img__image {
  position: absolute;
  z-index: 1;
  left: 730px;
  top: 160px;
}
.header-img__design {
  position: absolute;
  z-index: 2;
  top: 800px;
  left: 1270px;
}
.header-img__ball-shadow-1 {
  position: absolute;
  top: 890px;
  left: 740px;
}
.header-img__ball-shadow-2 {
  position: absolute;
  top: 320px;
  left: 1350px;
}
.header-p__1, .header-p__2 {
  position: absolute;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 147%;
  letter-spacing: 0.05em;
}
.header-p__1.header-p__1, .header-p__2.header-p__1 {
  color: #bb9292;
  top: 350px;
  left: 1450px;
}
.header-p__1.header-p__2, .header-p__2.header-p__2 {
  color: #f00;
  top: 1000px;
  left: 530px;
}

.dropbtn {
  display: none;
  margin-top: 20px;
  margin-left: 600px;
  height: 5px;
  width: 80px;
  background-color: white;
}

.first {
  margin-top: 80px;
}

.main-up1 {
  background: url(/Rectangle\ 35.png) no-repeat center/cover;
  width: 2110px;
  height: 1100px;
  
}
.main-up2 {

  
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s ease-out, transform 1s ease-out;}

  
    .animate {
      
      opacity: 1;
      transform: translateY(0);
      transition: all 0.5s ease-in-out;
  }

  


.main-up__task {
  position: absolute;
  top: 50px;
  left: 100px;
}
.main-up__first {
  position: absolute;
  top: 250px;
  left: 500px;
}
.main-up__text1 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  color: #000;
  position: absolute;
  top: 390px;
  left: 650px;
}
.main-up__heart {
  position: absolute;
  top: 200px;
  left: 1000px;
}
.main-up__second {
  position: absolute;
  top: 500px;
  left: 600px;
}
.main-up__text2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  color: #fff9f9;
  position: absolute;
  top: 600px;
  left: 730px;
}
.main-up__text3 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  position: absolute;
  top: 650px;
  left: 730px;
}
.main-up__message {
  position: absolute;
  top: 400px;
  left: 1200px;
}
.main-up__third {
  position: absolute;
  top: 650px;
  left: 800px;
}
.main-up__text4 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  text-align: right;
  color: #000;
  position: absolute;
  top: 830px;
  left: 1080px;
}
.main-up__text5 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  color: #000;
  position: absolute;
  top: 970px;
  left: 1050px;
}
.main-up__notebook {
  position: absolute;
  top: 700px;
  left: 1400px;
}

.main-center {
  background: url(/Rectangle\ 36.png) no-repeat center/cover;
  width: 2110px;
  height: 1300px;
}
.main-center__project {
  position: absolute;
  top: 2300px;
  left: 100px;
}
.main-center__photo1 {
  position: absolute;
  top: 2500px;
  left: 300px;
}
.main-center__describe1 {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 18px;
  color: #fff;
  position: absolute;
  top: 2800px;
  left: 300px;
  text-decoration: none;
  background-color: transparent;
}
.main-center__photo2 {
  position: absolute;
  top: 2500px;
  left: 1300px;
}
.main-center__describe2 {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 18px;
  color: #fff;
  position: absolute;
  top: 3200px;
  left: 300px;
  text-decoration: none;
  background-color: transparent;
}
.main-center__photo3 {
  position: absolute;
  top: 2900px;
  left: 300px;
}
.main-center__describe3 {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 18px;
  color: #fff;
  position: absolute;
  top: 2800px;
  left: 1300px;
  text-decoration: none;
  background-color: transparent;
}
.main-center__photo4 {
  position: absolute;
  top: 2900px;
  left: 1300px;
}
.main-center__describe4 {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 18px;
  color: #fff;
  position: absolute;
  top: 3200px;
  left: 1300px;
  text-decoration: none;
  background-color: transparent;
}
.main-center__button {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 17px;
  color: #fff;
  border-radius: 27px;
  width: 184px;
  height: 63px;
  background: #d80808;
  position: absolute;
  top: 3350px;
  left: 950px;
}

.main-down {
  background: url(/фон2\ 1.png) no-repeat center/cover;
  width: 2110px;
  height: 2100px;
}
.main-down__reviews {
  position: absolute;
  top: 3600px;
  left: 100px;
}
.main-down__photo1 {
  position: absolute;
  top: 3700px;
  left: 300px;
}
.main-down__messege1 {
  position: absolute;
  top: 4000px;
  left: 450px;
}
.main-down__describe1 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: #000;
  position: absolute;
  top: 4035px;
  left: 530px;
}
.main-down__photo2 {
  position: absolute;
  top: 4050px;
  left: 850px;
}
.main-down__messege2 {
  position: absolute;
  top: 4470px;
  left: 870px;
}
.main-down__describe2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  position: absolute;
  top: 4520px;
  left: 970px;
}
.main-down__photo3 {
  position: absolute;
  top: 3700px;
  left: 1400px;
}
.main-down__messege3 {
  position: absolute;
  top: 4000px;
  left: 1300px;
}
.main-down__describe3 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: #000;
  position: absolute;
  top: 4035px;
  left: 1380px;
}
.main-down__menu {
  position: absolute;
  top: 4700px;
  width: 2110px;
}
.main-down__describe4 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 40px;
  color: #f3d5d5;
  position: absolute;
  top: 4930px;
  left: 380px;
}
.main-down__button {
  border-radius: 27px;
  width: 196px;
  height: 63px;
  box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.25);
  background: #f4e2e2;
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 19px;
  color: #f00;
  position: absolute;
  top: 5050px;
  left: 1400px;
}
.main-down__menu__describe5 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 25px;
  letter-spacing: 0.06em;
  color: #e8d6d6;
}

.footer {
  background: url(/Rectangle\ 45.png) no-repeat center/cover;
  position: absolute;
  top: 5600px;
  width: 2110px;
  height: 400px;
}
.footer__name {
  position: absolute;
  top: 180px;
  left: 200px;
}
.footer__design {
  position: absolute;
  top: 70px;
  left: 750px;
}
.footer__describe1, .footer__describe2, .footer__describe3, .footer__describe4 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0.06em;
  color: #d8d3d3;
  position: absolute;
}
.footer__describe1 {
  top: 180px;
  left: 750px;
}
.footer__describe2 {
  top: 280px;
  left: 750px;
}
.footer__describe3 {
  top: 280px;
  left: 1250px;
}
.footer__describe4 {
  top: 280px;
  left: 1750px;
}
.footer__line {
  background-color: red;
  height: 300px;
  width: 1px;
  position: absolute;
  top: 40px;
  left: 700px;
}

body {
  overflow-x: hidden;
}

.modal {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(33, 29, 29, 0.85);
}
.modal-content {
  background: rgba(194, 0, 0, 0.52);
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 24px;
  width: 1046px;
  height: 681px;
  margin-left: 500px;
}
.modal__input1, .modal__input2, .modal__input3 {
  border: 4px solid rgba(238, 5, 5, 0.13);
  border-radius: 15px;
  width: 934px;
  height: 64px;
  background: rgba(0, 0, 0, 0.48);
  position: absolute;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: #fc0000;
}
.modal__input1.modal__input1, .modal__input2.modal__input1, .modal__input3.modal__input1 {
  top: 350px;
}
.modal__input1.modal__input2, .modal__input2.modal__input2, .modal__input3.modal__input2 {
  top: 450px;
}
.modal__input1.modal__input3, .modal__input2.modal__input3, .modal__input3.modal__input3 {
  top: 550px;
}
.modal__close {
  font-size: 28px;
  font-weight: bold;
  border-radius: 27px;
  width: 150px;
  height: 52px;
  background: #d80808;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0.05em;
  color: #000;
  position: absolute;
  top: 800px;
  left: 950px;
}
.modal__close:hover, .modal__close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ff0000;
  width: 410px;
  height: 450px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 3;
  position: absolute;
  top: 50px;
  left: 100px;
  border: 2px solid black;
  border-radius: 24px;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.drop__h2 {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 50%;
  letter-spacing: -0.04em;
  color: #ededed;
  position: relative;
  left: 160px;
  top: px;
}

.drop__button {
  border-radius: 13px;
  width: 406px;
  height: 58px;
  background: rgba(58, 0, 0, 0.27);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0.01em;
  color: #efe5e5;
  position: relative;
  top: 40px;
}

.close2 {
  border-radius: 27px;
  width: 159px;
  height: 52px;
  background: #d80808;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.05em;
  color: #000;
  position: absolute;
  top: 360px;
  left: 130px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
}


.modal-content {
  background-color: #ff0000;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 1000px;
  opacity: 0;
  transform: scale(0.7);
  transition: opacity 0.3s ease, transform 0.3s ease;
}


.modal.show .modal-content {
  opacity: 1;
  transform: scale(1);
}


.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


@media (max-width: 368px) {
  .header {
    width: 1450px;
  }
  .header__b1 {
    display: none;
  }
  .header-ul {
    display: none;
  }
  .header__b2 {
    position: absolute;
    left: 1050px;
  }
  .header-img__design {
    position: absolute;
    top: 480px;
    left: 200px;
  }
  .header-img__graphics {
    position: absolute;
    left: 200px;
  }
  .header-img__ball-shadow-2 {
    position: absolute;
    top: 920px;
    left: 800px;
  }
  .header-img__ball-shadow-1 {
    position: absolute;
    top: 820px;
    left: 600px;
  }
  .header-p__1 {
    position: absolute;
    top: 1020px;
    left: 760px;
    width: 200px;
  }
  .header-p__2 {
    position: absolute;
    top: 940px;
    left: 570px;
    width: 200px;
  }
  .header-img__image {
    position: absolute;
    top: 60px;
    left: 570px;
  }
  .header-img__shadow {
    position: absolute;
    left: 500px;
    top: 100px;
  }
  .main-up {
    width: 1450px;
  }
  .main-up__heart {
    display: none;
  }
  .main-up__message {
    display: none;
  }
  .main-up__notebook {
    display: none;
  }
  .main-up__first {
    position: absolute;
    left: 300px;
  }
  .main-up__second {
    position: absolute;
    left: 400px;
  }
  .main-up__third {
    left: 500px;
  }
  .main-up__text1 {
    width: 200px;
    position: absolute;
    left: 450px;
  }
  .main-up__text2 {
    width: 200px;
    position: absolute;
    left: 550px;
  }
  .main-up__text3 {
    width: 200px;
    position: absolute;
    left: 550px;
  }
  .main-up__text4 {
    width: 200px;
    position: absolute;
    left: 760px;
  }
  .main-up__text5 {
    width: 300px;
    position: absolute;
    left: 750px;
  }
  .main-center {
    width: 1450px;
  }
  .main-center__photo3 {
    display: none;
  }
  .main-center__photo4 {
    display: none;
  }
  .main-center__describe3 {
    display: none;
  }
  .main-center__describe4 {
    display: none;
  }
  .main-center__photo2 {
    position: absolute;
    top: 2900px;
    left: 450px;
  }
  .main-center__photo1 {
    position: absolute;
    left: 450px;
  }
  .main-center__describe1 {
    position: absolute;
    left: 450px;
    width: 200px;
  }
  .main-center__describe2 {
    position: absolute;
    left: 450px;
    width: 200px;
  }
  .main-center__button {
    position: absolute;
    left: 600px;
  }
  .main-down {
    width: 1450px;
  }
  .main-down__describe2 {
    display: none;
  }
  .main-down__messege2 {
    display: none;
  }
  .main-down__photo2 {
    display: none;
  }
  .main-down__photo3 {
    position: absolute;
    left: 400px;
    top: 4200px;
  }
  .main-down__messege3 {
    position: absolute;
    left: 430px;
    top: 4500px;
  }
  .main-down__describe3 {
    position: absolute;
    left: 500px;
    top: 4550px;
  }
  .main-down__photo1 {
    position: absolute;
    left: 400px;
  }
  .main-down__messege1 {
    position: absolute;
    left: 430px;
  }
  .main-down__describe1 {
    position: absolute;
    left: 500px;
  }
  .main-down__menu__describe4 {
    top: 4800px;
    left: 380px;
  }
  .main-down__menu__button {
    top: 5000px;
    left: 1050px;
  }
  .main-down__menu__describe5 {
    font-size: 20px;
    position: absolute;
    top: 5060px;
    left: 1050px;
  }
  .footer {
    width: 1450px;
  }
  .footer__name {
    left: 200px;
  }
  .footer__design {
    left: 450px;
  }
  .footer__describe1 {
    left: 450px;
  }
  .footer__describe2 {
    left: 450px;
  }
  .footer__describe3 {
    left: 900px;
  }
  .footer__describe4 {
    left: 1350px;
  }
  .footer__line {
    left: 700px;
  }
}